<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60868162820-0nrf4k2ngjdvecbcol6s2hfg7tbegaiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60868162820-0nrf4k2ngjdvecbcol6s2hfg7tbegaiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlNUKwOKg_A8EAolxqUKcpqG-4o-pBEw</string>
	<key>GCM_SENDER_ID</key>
	<string>60868162820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humbertogrt.TripOrganizer</string>
	<key>PROJECT_ID</key>
	<string>triporganizer-953c7</string>
	<key>STORAGE_BUCKET</key>
	<string>triporganizer-953c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60868162820:ios:0c4f749156cd8c67174c51</string>
</dict>
</plist>